.skip_body {
    background-color:  #252d4a;
    ;
    width: 500px;
    height: 350px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
border-radius: 15px;

}

.one{
    /* margin-top: 15px; */
    padding-top: 15px;
    padding-left: 15px;

}